#TopNav {
    position: fixed;
    top: 0;
    padding: 16px;
}

.nav-label {
    color: white;
    font-size: 24px;
}

.nav-link {
    color: white;
}

#BottomLeftNav {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 86px;
    padding: 16px;
}

#BottomRightNav {
    display: flex;
    position: fixed;
    bottom: 0;
    right: 0;
    height: 48px;
    padding: 16px;
}

.nav-btn {
    margin-inline: 10px;
}

.nav-btn,
.nav-btn img {
    height: 100%;
}

#TarylemNavBtn {
    margin: 0;
    opacity: 0.5;
    transition: ease-in-out 0.25s;
}

#TarylemNavBtn:hover {
    opacity: 1;
}

#MainGameSection {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    min-height: 100vh;
    padding: 2rem;
    box-sizing: border-box;
    margin: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#VerticalLogo {
    width: clamp(280px, 60vw, 680px);
    height: auto;
    margin-inline: auto;
    margin-bottom: 36px;
}

#TrailerVideo {
    width: clamp(320px, 70vw, 780px);
    aspect-ratio: 16 / 9;
    margin-inline: auto;
    border-radius: 16px;
}

.background-image {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-inline: auto;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -999;
}

@media (max-width: 650px) {
    .nav-label {
        display: flex;
        flex-direction: column;
    }

    .nav-pipe {
        display: none;
    }
}

@media (max-height: 90vw) {
    #MainGameSection {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 4rem;
    }

    #VerticalLogo {
        margin: 0;
        width: clamp(300px, 40vw, 600px);
        max-height: 70vh;
    }

    #TrailerVideo {
        margin: 0;
        width: clamp(400px, 45vw, 900px);
        max-height: 70vh;
    }
}