<link rel="stylesheet" href="./fragments/main.css">

<div id="items">
	<div id="itemsList">
		<div id="listTabs">
			<button class="list-tab-button start" id="demonsTabButton" data-tab="demons">
				<span>Demons</span>
			</button>
			<button class="list-tab-button end" id="leaderboardTabButton" data-tab="leaderboard">
				<span>Leaderboard</span>
			</button>
		</div>

		<div class="list-view" id="demonsList" hidden></div>
		<div class="list-view" id="leaderboardList" hidden></div>
	</div>

	<div id="itemView">
		<div id="itemViewContainer">

		</div>
	</div>
</div>

<template id="levelEntryTemplate">
	<div class="list-entry">
		<div class="level-thumbnail-view">
			<img class="level-thumbnail" src="THUMBNAIL_URI_HERE">
		</div>
		<div class="level-desc-view">
			<h3 class="level-name-view">#<span class="level-rank">1</span> - <span class="level-name">LEVEL_NAME_HERE</span>
			</h3>
			<p class="level-publisher-view">By <span class="level-publisher">LEVEL_PUBLISHER_NAME_HERE</span></p>
		</div>
		<div class="level-difficulty-view">
			<span class="level-difficulty">LEVEL_DIFFICULTY_HERE</span>
		</div>
	</div>
</template>

<template id="levelViewTemplate">
	<div id="levelViewHeader" class="separator">
		<div class="level-video-container">
			<iframe class="level-video"></iframe>
		</div>
		
		<div class="level-stats-container">
			<div class="level-front separator">
				<h2 class="level-title"></h2>
				<p class="level-contributors">by <span class="level-publisher"></span></p>
			</div>

			<div class="level-info-pills"></div>

			<div class="level-info-grid" style="--columns: 2">
				<div class="level-info-space">
					<p class="level-info-space-title separator">CREATORS</p>
					<p class="level-info-space-value level-creators"></p>
				</div>

				<div class="level-info-space">
					<p class="level-info-space-title separator">VERIFIER</p>
					<p class="level-info-space-value level-verifier"></p>
				</div>

				<div class="level-info-space">
					<p class="level-info-space-title separator">UPLOAD DATE</p>
					<p class="level-info-space-value level-upload-date"></p>
				</div>

				<div class="level-info-space">
					<p class="level-info-space-title separator">SONG</p>
					<p class="level-info-space-value level-song"></p>
				</div>
			</div>
		</div>
	</div>

	<div id="levelViewContent" class="separator">
		<div class="level-info-grid" style="--columns: 4">
			<div class="level-info-space">
				<p class="level-info-space-title separator">DOWNLOADS</p>
				<p class="level-info-space-value level-downloads"></p>
			</div>
		
			<div class="level-info-space">
				<p class="level-info-space-title separator">LIKES</p>
				<p class="level-info-space-value level-likes"></p>
			</div>
		
			<div class="level-info-space">
				<p class="level-info-space-title separator">OBJECTS</p>
				<p class="level-info-space-value level-objects"></p>
			</div>
		
			<div class="level-info-space">
				<p class="level-info-space-title separator">COPY</p>
				<p class="level-info-space-value level-copy"></p>
			</div>

			<div class="level-info-space">
				<p class="level-info-space-title separator">LENGTH</p>
				<p class="level-info-space-value level-length"></p>
			</div>

			<div class="level-info-space">
				<p class="level-info-space-title separator">VERSION</p>
				<p class="level-info-space-value level-version"></p>
			</div>

			<div class="level-info-space">
				<p class="level-info-space-title separator">COPIED FROM</p>
				<p class="level-info-space-value level-copied-from"></p>
			</div>

			<div class="level-info-space">
				<p class="level-info-space-title separator">LDMS</p>
				<p class="level-info-space-value level-ldms"></p>
			</div>
		</div>

		<button class="button-master" id="copyLevelIdButton">
			<span>Copy Level ID</span>
		</button>
	</div>
</template>