/* GENERAL */

#items {
	display: inline-flex;
	width: 100%;
	height: 100%;
}

/* ITEMS LIST */

#itemsList {
	display: flex;
	flex-direction: column;
	width: calc(100%/3);
	height: 100%;
	padding: calc(var(--spacing) * 5);
	background: var(--color-bg-02);
	position: relative;
}

#itemsList::after {
	content: "";
	display: block;
	position: absolute;
	background: var(--gradient-dw-accent);
	width: calc(var(--spacing) * 0.7);
	height: 100%;
	right: 0;
	top: 0;
	transform: translateX(50%);
}

#itemView {
	display: block;
	width: calc(100%/3*2);
	height: 100%;
	position: relative;
}

/* LIST TABS */

#listTabs {
	display: inline-flex;
	gap: calc(var(--spacing) * 1.5);
	width: 100%;
	padding: calc(var(--spacing) * 1.5);
	border-radius: var(--radius-xl) var(--radius-xl) 0 0;
	border: 1px transparent solid;
	background: var(--color-bg-03);
}

#listTabs::after {
	width: calc(100% - var(--spacing) * 4);
}

/* LIST TAB BUTTON */

.list-tab-button {
	color: var(--text-color-02);
	font-size: var(--text-nm);
	font-weight: var(--font-semi);
	flex-grow: 1;
	padding: calc(var(--spacing) * 5);
	border-radius: var(--radius-nm);
	background: transparent;
	cursor: pointer;
	text-align: center;
	transition: ease 0.3s;
}

.list-tab-button:hover {
	color: var(--text-color-01);
	background: color-mix(in oklab, transparent 90%, var(--text-color-01) 10%);
}

.list-tab-button.selected {
	color: var(--color-dw-accent-01);
	background: color-mix(in oklab, transparent 90%, var(--text-color-01) 10%);
}

.list-tab-button.start {
	border-top-left-radius: var(--radius-lg);
	border-bottom-left-radius: var(--radius-lg);
}

.list-tab-button.end {
	border-top-right-radius: var(--radius-lg);
	border-bottom-right-radius: var(--radius-lg);
}

/* LIST VIEW */

.list-view {
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	overflow-y: scroll;
	width: 100%;
	flex-grow: 1;
	gap: calc(var(--spacing) * 6);
	padding: calc(var(--spacing) * 4);
	border-radius: 0 0 var(--radius-xl) var(--radius-xl);
	border: 1px transparent solid;
	background: var(--color-bg-03);
}

/* LIST ENTRY */

.list-entry {
	display: inline-flex;
	width: 100%;
	gap: calc(var(--spacing) * 6);
	padding: calc(var(--spacing) * 6);
	border-radius: var(--radius-2xl);
	border: 1px transparent solid;
	background: linear-gradient(var(--color-bg-04)) var(--border-dw-accent);
	align-items: center;
	cursor: pointer;
	user-select: none;
	transition: 0.1s ease;
}

.list-entry:active {
	scale: 0.975;
}

.list-entry.selected {
	border: 0;
	background: var(--gradient-dw-accent);
	box-shadow: var(--box-shadow-faint-glow-dw-accent);
}

.list-entry.selected {
	color: white;
}

.list-entry .thumbnail-view {
	aspect-ratio: calc(16/9);
	width: calc(var(--spacing) * 40);
	border-radius: var(--radius-lg);
	box-shadow: var(--box-shadow-faint-glow-dw-accent);
	overflow: hidden;
	flex-shrink: 0;
}

.list-entry .thumbnail-view:has(.user-thumbnail) {
	aspect-ratio: 1;
	width: calc(var(--spacing) * 20);
	height: calc(var(--spacing) * 20);
	border-radius: var(--radius-lg);
	background: linear-gradient(var(--color-bg-01)) var(--border-dw-accent);
	border: 1px solid transparent;
}

.list-entry .thumbnail-view img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.list-entry .desc-view {
	flex: 1;
	min-width: 0;
}

.list-entry .desc-view h3,
.list-entry .desc-view p {
	font-size: var(--text-nm);
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.list-entry .desc-view p {
	font-size: var(--text-sm);
}

.list-entry .desc-view .level-publisher-view .level-publisher {
	font-weight: var(--font-semi);
	font-style: italic;
}

.list-entry .level-difficulty-view {
	width: max-content;
	text-align: right;
	flex-shrink: 0;
}

/* LEGACY LIST SEPARATOR */

#levelLegacyListSeparator {
	display: inline-flex;
	justify-content: center;
	padding-bottom: calc(var(--spacing) * 2);
}

/* ITEM VIEW */

#itemView {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: calc(var(--spacing) * 4);
}

#itemViewContainer {
	width: 100%;
	height: 100%;
	border-radius: var(--radius-2xl);
	border: 1px transparent solid;
	background: linear-gradient(var(--color-bg-04)) var(--border-dw-accent);
	padding: calc(var(--spacing) * 6);
	overflow-x: hidden;
	overflow-y: scroll;
}

/* LEVEL VIEW HEADER */

#levelViewHeader {
	display: inline-flex;
	width: 100%;
	padding-bottom: calc(var(--spacing) * 8);
	margin-bottom: calc(var(--spacing) * 8);
}

.level-video-container {
	overflow: hidden;
	aspect-ratio: calc(16/9);
	width: 50%;
	border-radius: var(--radius-xl);
	border: 1px transparent solid;
	background: linear-gradient(var(--color-bg-04)) var(--border-dw-accent);
}

#levelViewHeader .level-video-container .level-video {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#levelViewHeader .level-stats-container {
	display: flex;
	flex-direction: column;
	width: 50%;
	padding-left: calc(var(--spacing) * 4);
	padding-top: var(--spacing);
	padding-bottom: var(--spacing);
}

#levelViewHeader .level-stats-container .level-front {
	padding-bottom: calc(var(--spacing) * 4);
	margin-bottom: calc(var(--spacing) * 4);
}

.level-stats-container .level-title {
	margin-bottom: calc(var(--spacing) * 0.5);
}

.level-stats-container .level-contributors {
	color: var(--text-color-02);
	font-weight: var(--font-nm);
	font-size: var(--text-sm);
}

#levelViewHeader .level-stats-container .level-info-pills {
	display: inline-flex;
	gap: calc(var(--spacing) * 3);
	width: 100%;
}

.level-info-pills .pill {
	box-sizing: content-box;
	height: var(--text-sm);
	padding: calc(var(--spacing) * 2);
	padding-inline: calc(var(--spacing) * 4);
	border-radius: var(--text-sm);
	font-size: var(--text-sm);
	color: white;
}

.level-info-pills .pill.extreme-demon { background: rgb(255, 66, 66); }
.level-info-pills .pill.insane-demon { background: rgb(255, 66, 142); }
.level-info-pills .pill.hard-demon { background: rgb(255, 66, 255); }
.level-info-pills .pill.medium-demon { background: rgb(104, 66, 255); }
.level-info-pills .pill.easy-demon { background: rgb(66, 157, 255); }

.level-info-pills .pill.mythic-rate { background: rgb(0, 106, 255); }
.level-info-pills .pill.legendary-rate { background: rgb(202, 0, 155); }
.level-info-pills .pill.epic-rate { background: rgb(20, 202, 0); }
.level-info-pills .pill.feature-rate { background: rgb(255, 166, 0); }
.level-info-pills .pill.star-rate { background: rgb(159, 64, 0); }

#levelViewHeader .level-stats-container .info-grid {
	margin-top: calc(var(--spacing) * 4);
}

.level-info-buttons {
	display: inline-flex;
	gap: calc(var(--spacing) * 4);
}

#levelViewHeader .level-stats-container .level-info-buttons {
	margin-top: calc(var(--spacing) * 6);
}

.level-info-buttons button {
	width: max-content;
}

/* LEVEL VIEW CONTENT */

#levelViewMobileActions {
	display: none;
	width: 100%;
	margin-bottom: calc(var(--spacing) * 4);
}

#levelViewMobileActions .close-button {
	padding: calc(var(--spacing) * 2);
	margin-left: auto;
	background: transparent;
	filter: var(--icon-filter);
}

#levelViewMobileActions .close-button img {
	height: calc(var(--spacing) * 8);
}

#levelViewContent {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-bottom: calc(var(--spacing) * 8);
	margin-bottom: calc(var(--spacing) * 8);
}

#levelViewContent .info-grid {
	--columns: 4;
}

/* LEVEL TABLE */

.table-title {
	color: var(--text-color-02);
	font-size: var(--text-sm);
}

#levelViewRecords .records-title .record-requirement { color: color-mix(in oklab, var(--color-dw-accent-01) 50%, var(--text-color-01) 50%); }
#levelViewRecords .records-title .verified-victors { color: color-mix(in oklab, rgb(255, 162, 0) 50%, var(--text-color-01) 50%); }
#levelViewRecords .records-title .verified-records { color: color-mix(in oklab, rgb(0, 255, 0) 50%, var(--text-color-01) 50%); }

.level-table {
	width: 100%;
	margin-top: calc(var(--spacing) * 4);
	border-radius: var(--radius-xl);
	background-color: var(--color-bg-03);
	border: 1px transparent solid;
	background: linear-gradient(var(--color-bg-03)) var(--border-dw-accent);
	overflow: hidden;
	overflow-x: auto;
	--columns: 3;
}

.level-table table {
	width: 100%;
}

.level-table thead::after,
.level-table tbody tr::after {
	width: calc(100% - var(--spacing) * 4);
}

.level-table thead th,
.level-table tbody td {
	padding: calc(var(--spacing) * 4);
	padding-inline: calc(var(--spacing) * 6);
	width: calc(100% / var(--columns));
	font-size: var(--text-nm);
	text-align: center;
}

.level-table thead th.first,
.level-table tbody td.first { text-align: left; }

.level-table thead th.last,
.level-table tbody td.last { text-align: right; }

.level-table thead th {
	color: var(--text-color-02);
	font-weight: var(--font-thin);
}

.level-table tbody td {
	font-weight: var(--font-nm);
}

.level-table tbody tr {
	--background-transparency: 10%;
	transition: 0.3s ease;
}

.level-table tbody tr:hover {
	--background-transparency: 20%;
}

.level-table .level-table-load-more {
	display: inline-flex;
	justify-content: center;
	width: 100%;
	padding: calc(var(--spacing) * 4);
	padding-inline: calc(var(--spacing) * 6);
}

/* LEVEL VIEW HISTORY */

#levelViewHistory {
	padding-bottom: calc(var(--spacing) * 8);
	margin-bottom: calc(var(--spacing) * 8);
}

#levelViewHistory .position-history-added,
#levelViewRecords .record-entry { background: color-mix(in oklab, transparent, var(--color-dw-accent-01) var(--background-transparency)); }
#levelViewHistory .position-history-descended { background: color-mix(in oklab, transparent, rgb(255, 66, 66) var(--background-transparency)); }
#levelViewHistory .position-history-ascended,
#levelViewRecords .record-entry.completed { background: color-mix(in oklab, transparent, rgb(81, 255, 81) var(--background-transparency)); }

/* LEVEL VIEW RECORDS */

#levelViewRecords .record-entry .record-user {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

#levelViewRecords .record-entry .record-avatar {
	width: calc(var(--spacing) * 14);
	height: calc(var(--spacing) * 14);
	margin-right: calc(var(--spacing) * 2);
	border-radius: var(--radius-xl);
	border: 1px solid transparent;
	background: linear-gradient(var(--color-bg-01)) var(--border-dw-accent);
}

#levelViewRecords .record-entry .record-proof-button.button-secondary {
	display: block;
	width: max-content;
	margin-left: auto;
}

@media (max-width: 1200px) {
	#items {
		display: block;
	}

	#itemsList {
		position: absolute;
		margin: auto;
		width: 100%;
		height: 100%;
	}

	#itemsList::after {
		display: none;
	}

	#itemView {
		display: none;
		position: absolute;
		margin: auto;
		width: 100%;
		height: 100%;
		padding: 0;
	}

	#itemViewContainer {
		border-radius: 0;
		border: 0 transparent;
		background: var(--color-bg-04);
	}

	#levelViewMobileActions {
		display: inline-flex;
	}

	#levelViewHeader {
		display: flex;
		flex-direction: column;
	}

	#levelViewHeader .level-video-container,
	#levelViewHeader .level-stats-container {
		width: 100%;
	}

	#levelViewHeader .level-stats-container {
		padding-top: 0;
		padding-bottom: 0;
		padding-left: 0;
		margin-top: calc(var(--spacing) * 4);
	}

	#levelViewHeader .level-stats-container .level-title,
	#levelViewHeader .level-stats-container .level-contributors {
		text-align: center;
	}

	#levelViewHeader .level-stats-container .level-info-pills,
	#levelViewHeader .level-stats-container .level-info-buttons {
		justify-content: center;
	}

	#levelViewContent .info-grid {
		--columns: 2;
	}
}

@media (max-width: 850px) {
	.list-entry {
		padding: calc(var(--spacing) * 3);
		gap: calc(var(--spacing) * 3);
		border-radius: var(--radius-lg);
	}
	
	.list-entry .thumbnail-view {
		width: calc(var(--spacing) * 30);
	}

	.list-entry .level-difficulty-view {
		width: min-content;
		font-size: var(--text-sm);
	}

	.list-entry .desc-view h3 {
		font-size: var(--text-sm);
	}

	.list-entry .desc-view p {
		font-size: var(--text-xs);
	}
}