<link rel="stylesheet" href="./fragments/legal.css">

<div id="legalContainer">
	<ul id="scaledLegalContainer" class="legal-list">
		<section class="legal-item legal-header">
			<h1>Dash World Privacy Policy</h1>
			<p id="effectiveNote">Effective: 21st April 2026</p>
		</section>

		<section class="legal-item">
			<h2 class="legal-title">1. Introduction</h2>
			<p class="legal-desc">This Privacy Policy outlines how Dash World ("we," "us," or "our") collects, uses, and shares data
				about you as a user of
				our Service. It is essential to be aware that this Privacy Policy can change over time.</p>
		</section>
		
		<section class="legal-item">
			<h2 class="legal-title">2. Changes to this Policy</h2>
			<p class="legal-desc">We may amend this policy from time to time. Significant changes will be announced by
				stating the date of the
				last revision, when necessary, by sending you a direct notification on your account.</p>
		</section>
		
		<section class="legal-item">
			<h2 class="legal-title">3. The Data We Collect</h2>
			<ul class="legal-list">
				<li class="legal-desc"><span class="legal-text-title">Personal Information</span>: Personal information that we collect
					when you sign up to create an account with us includes your Roblox ID, username,
					and any profile pictures.</li>
			
				<li class="legal-desc"><span class="legal-text-title">Usage Information</span>: We collect usage information based on
					how you engage with the Service. This involves levels created as well as scores you've entered.</li>
			
				<li class="legal-desc"><span class="legal-text-title">Technical Information</span>: We collect your IP address and time stamps.</li>

				<li class="legal-desc"><span class="legal-text-title">Content Information</span>: All content information you send to
					us, such as videos, levels, and records will be saved and made available to the public.</li>
			</ul>
		</section>
		
		<section class="legal-item">
			<h2 class="legal-title">4. How We Use Your Data</h2>
			<ul class="legal-list">
				<li class="legal-desc"><span class="legal-text-title">Service Delivery</span>: To offer and sustain the Service, such as
					leaderboards creation, scoring, and account management.</li>
		
				<li class="legal-desc"><span class="legal-text-title">Improvement & Development</span>: To comprehend your usage pattern
					and enhance our service.</li>
		
				<li class="legal-desc"><span class="legal-text-title">Communication</span>: To keep you informed about your account via
					updates and administrative notices.</li>

				<li class="legal-desc"><span class="legal-text-title">Security</span>: To ensure the safety of our platform and guard
					against any fraudulent activity.</li>
			</ul>
		</section>
		
		<section class="legal-item">
			<h2 class="legal-title">5. Information Sharing and Release</h2>
			<ul class="legal-list">
				<li class="legal-desc"><span class="legal-text-title">Legal Requirements</span>: Your information may be released where
					there is a legal obligation or in the process of complying with legal procedures.</li>
		
				<li class="legal-desc"><span class="legal-text-title">Business Transactions</span>: Your information may be
					transferred in case of a merger, acquisition, or asset sale.</li>
			</ul>
		</section>
		
		<section class="legal-item">
			<h2 class="legal-title">6. Data Retention and Protection</h2>
			<ul class="legal-list">
				<li class="legal-desc"><span class="legal-text-title">Data Retention</span>: Your personal data is retained for as long
					as it is needed for the purpose of this Privacy Policy or as provided by the
					applicable laws.</li>
			
				<li class="legal-desc"><span class="legal-text-title">Security</span>: We maintain high standards of data protection
					through industry-standard security measures. However, it is impossible to have
					complete safety when using online services.</li>
			</ul>
		</section>
		
		<section class="legal-item">
			<h2 class="legal-title">7. User Rights and Preferences</h2>
			<ul class="legal-list">
				<li class="legal-desc"><span class="legal-text-title">Access and Updates</span>: You can access and modify your account
					details at any time using the account settings feature.</li>
		
				<li class="legal-desc"><span class="legal-text-title">Requests</span>: Should you require any additional information
					regarding your personal data, kindly reach out to us at the contact
					information provided.</li>
			</ul>
		</section>

		<section class="legal-item">
			<h2 class="legal-title">8. Contact Information</h2>
			<ul class="legal-list">
				<li class="legal-desc">If you have any inquiries or issues regarding this Privacy Policy and how we handle your
					information, feel free to
					contact us at:</li>
				<li class="legal-desc"><a href="mailto:legal@tarylem.com" class="linked-resource">legal@tarylem.com</a></li>
			</ul>
		</section>

		<section class="legal-item legal-return">
			<a href="#" class="button-master">
				<span>Return to List</span>
			</a>
		</section>
	</ul>
</div>