<link rel="stylesheet" href="./fragments/records.css">

<div id="recordsContainer">
	<div id="scaledRecordsContainer">
		<header id="recordsHeader">
			<h1>Your Records</h1>
		</header>

		<div>
			<section id="searchOptionsHeader" class="record-section">
				<h2 class="separator">Filter your Records</h2>
				<div id="stateFilter" class="select">
					<button class="select-button"><span></span></button>
					<ul class="select-menu">
						<button class="option" data-value="all" data-text="All States" data-default="true">All</button>
						<button class="option" data-value="pending" data-text="Pending">Pending</button>
						<button class="option" data-value="rejected" data-text="Rejected">Rejected</button>
						<button class="option" data-value="accepted" data-text="Accepted">Accepted</button>
					</ul>
				</div>
			</section>
			
			<ul class="records-list">
				<li class="record-section">
					
				</li>
			</ul>
		</div>
	</div>
</div>

<template id="recordTemplate">

</template>