<link rel="stylesheet" href="./fragments/legal.css">

<div id="legalContainer">
	<ul id="scaledLegalContainer" class="legal-list">
		<section class="legal-item legal-header">
			<h1>Dash World Terms of Service</h1>
			<p id="effectiveNote">Effective: 21st April 2026</p>
		</section>

		<section class="legal-item">
			<h2 class="legal-title">1. Acceptance of Terms</h2>
			<p class="legal-desc">By using the Dash World Demonlist ("Service"), you confirm your understanding and consent to
				these Terms of Service
				("Terms"). If you disagree with these terms, you are required to stop using the Service.</p>
		</section>
		
		<section class="legal-item">
			<h2 class="legal-title">2. Modification of the Terms</h2>
			<p class="legal-desc">We may modify or amend the Terms as needed due to any improvements, compliance reasons, or
				operational changes. The amended version of the Terms will be
				published on the Service.</p>
		</section>
		
		<section class="legal-item">
			<h2 class="legal-title">3. Service Description</h2>
			<p class="legal-desc">The Dash World Demonlist is an Internet-based service for difficulty measuring, and submitting
				your accomplishments
				to rank on the leaderboards. The Service offers the following functions:</p>
			<ul class="legal-bullet-point-list">
				<li class="legal-desc">Registration of users by using Roblox ID</li>
				<li class="legal-desc">Submission, rating, and ranking of levels</li>
				<li class="legal-desc">Management of user-generated content (level meta-data, records)</li>
			</ul>
		</section>
		
		<section class="legal-item">
			<h2 class="legal-title">4. User Accounts & Responsibilities</h2>
			<ul class="legal-list">
				<li class="legal-desc"><span class="legal-text-title">Registration</span>: You are required to register yourself
					using authentic data.
					Your account is tied to your Roblox ID, and other personal information.</li>
		
				<li class="legal-desc"><span class="legal-text-title">Account Security</span>: It is your duty to protect your login
					credentials from any unauthorized use.
					All actions performed on your account are your accountability.</li>
		
				<li class="legal-desc"><span class="legal-text-title">Compliance</span>: You promise to abide by all regulations, as
					well as copyright law.</li>
			</ul>
		</section>
		
		<section class="legal-item">
			<h2 class="legal-title">5. User-Generated Content</h2>
			<ul class="legal-list">
				<li class="legal-desc"><span class="legal-text-title">Ownership</span>: You retain the ownership rights for any
					content
					you generate and upload (for example, levels, videos, and scores). By
					uploading content, you give Dash World permission to use and display your content as part of the Service under a
					non-exclusive and worldwide license.</li>
		
				<li class="legal-desc"><span class="legal-text-title">Content Requirements</span>: Your content should comply with
					community standards and should not be defamatory or obscene.</li>
			</ul>
		</section>
		
		<section class="legal-item">
			<h2 class="legal-title">6. Intellectual Property Rights</h2>
			<ul class="legal-list">
				<li class="legal-desc"><span class="legal-text-title">Intellectual Property in Dash World Content</span>: Any
					content, material, code, or documentation delivered by Dash World is owned by Dash World or their respective
					licensor(s).</li>
		
				<li class="legal-desc"><span class="legal-text-title">Intellectual Property in Your Content</span>: You will own
					your content, but you allow Dash World the right to utilize your content with respect to the Service.</li>
		
				<li class="legal-desc">No Copying or Reproducing Dash World Materials Without Permission.</li>
			</ul>
		</section>
		
		<section class="legal-item">
			<h2 class="legal-title">7. Disclaimers and Limitation of Liability</h2>
			<ul class="legal-list">
				<li class="legal-desc"><span class="legal-text-title">"On As Is Basis"</span>: The Service is offered on an "as is"
					and "as available" basis, which means that no warranties of any sort are provided
					with the Service.</li>
		
				<li class="legal-desc"><span class="legal-text-title">Guarantees Not Provided</span>: Dash World makes no guarantees
					regarding the accuracy, reliability, or accessibility of any content or data, including
					level or score data.</li>
		
				<li class="legal-desc"><span class="legal-text-title">Liability Limitations</span>: Under no circumstances shall
					Dash World or its affiliates be responsible for any form of damage arising from your use
					of the Service.</li>
			</ul>
		</section>

		<section class="legal-item">
			<h2 class="legal-title">8. Termination</h2>
			<p class="legal-desc">The Service Provider may suspend or terminate your use of the Service, without notice, if you
				violate these Terms or
				engage in any activity that might harm other users or the Service.</p>
		</section>

		<section class="legal-item">
			<h2 class="legal-title">9. Governing Law</h2>
			<p class="legal-desc">These Terms will be governed and interpreted according to the laws of the jurisdiction where
				Dash World is based.</p>
		</section>

		<section class="legal-item">
			<h2 class="legal-title">10. Contact Information</h2>
			<ul class="legal-list">
				<li class="legal-desc">If you have any queries about these Terms, feel free to reach out to us at:</li>
				<li class="legal-desc"><a href="mailto:legal@tarylem.com" class="linked-resource">legal@tarylem.com</a></li>
			</ul>
		</section>

		<section class="legal-item legal-return">
			<a href="#" class="button-master">
				<span>Return to List</span>
			</a>
		</section>
	</ul>
</div>