/* VARS */

:root {
	--color-dw-accent-01: #52abff;
	--color-dw-accent-02: #70fdff;
	--gradient-dw-accent: linear-gradient(110deg, var(--color-dw-accent-01) 0%, var(--color-dw-accent-02) 100%);

	--text-big: 1.4rem;
	--text-normal: 1.1rem;
	--text-small: 0.9rem;
	--spacing: 0.2rem;
}

:root[theme="dark"] {
	--color-bg-01: #181a1b;
	--color-bg-02: #1f2123;
	--color-bg-03: #35393b;
	--text-color-01: #ffffff;
}

:root[theme="light"] {
	--color-bg-01: #ffffff;
	--color-bg-02: #d6e4f3;
	--color-bg-03: #c1d3e6;
	--text-color-01: #181a1b;
}

/* GENERAL */

#app {
	display: flex;
	flex-direction: column;

	color: var(--text-color-01);

	width: 100vw;
	height: 100vh;
}

#header,
#footer {
	z-index: 99;
}

#header,
#footer,
#content {
	background-color: var(--color-bg-02);
	position: relative;
	width: 100%;
}

.inline-flex-container {
	width: calc(100% - var(--spacing) * 10);
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	padding: calc(var(--spacing) * 5);
}

/* HEADER */

#header::after {
	content: "";
	display: block;
	position: absolute;
	background: var(--gradient-dw-accent);
	width: 100%;
	height: calc(var(--spacing) * 0.5);
	bottom: 0;
	transform: translateY(50%);
}

#logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

#logo img {
	width: calc(var(--spacing) * 12);
	height: calc(var(--spacing) * 12);
	margin-right: calc(var(--spacing) * 3);
}

#logo span {
	font-size: var(--text-big);
	font-weight: bold;
	background: var(--gradient-dw-accent);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

/* CONTENT */

#content {
	background-color: var(--color-bg-01);
	flex-grow: 1;
	overflow-x: hidden;
	overflow-y: scroll;
}

/* FOOTER */

#footer {
	display: inline-flex;
}

#footer::after {
	content: "";
	display: block;
	position: absolute;
	background: var(--gradient-dw-accent);
	width: 100%;
	height: calc(var(--spacing) * 0.5);
	top: 0;
	transform: translateY(-50%);
}

#footer .inline-flex-container {
	margin-inline: auto;
	max-width: calc(var(--spacing) * 480);
}

/* BUTTONS */

/* BUTTON MASTER */

.button-master {
	padding: calc(var(--spacing) * 2);
	background: rgba(255, 255, 255, 0.05);
	border-radius: calc(var(--spacing) * 3);
	transition: box-shadow 0.3s ease;
}

.button-master span {
	color: var(--text-color-01);
}

.button-master:hover {
	background: var(--gradient-dw-accent);
	box-shadow: 0 0 8px var(--color-dw-accent-01);
}

.button-master:hover span {
	color: white;
}

/* BUTTON SECONDARY */

.button-secondary {
	padding: calc(var(--spacing) * 2);
	background: transparent;
	border-radius: calc(var(--spacing) * 3);
	transition: background 0.3s ease;
}

.button-secondary span {
	background: var(--text-color-01);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}

.button-secondary:hover {
	background: color-mix(in oklab, transparent 90%, var(--text-color-01) 10%);
}

.button-secondary:hover span {
	background: var(--gradient-dw-accent);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}